aiohttp 
argon2-cffi 
astroid 
async-generator==1.10
async-timeout==3.0.1
attrs 
backcall==0.2.0
bleach 
blis 
boto==2.49.0
boto3 
botocore 
brotlipy==0.7.0
bz2file==0.98
cachetools 
catalogue 
certifi==2020.12.5
cffi 
chardet 
click 
cloudpickle==1.6.0
colorama 
cryptography 
cycler==0.10.0
cymem 
dask==2.19.0
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
distributed==2.19.0
en-core-web-sm
entrypoints==0.3
google-api-core 
google-auth 
google-cloud-core 
google-cloud-storage==1.19.0
google-crc32c 
google-resumable-media 
googleapis-common-protos 
grpcio 
HeapDict==1.0.1
idna 
importlib-metadata 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
jedi==0.17.0
Jinja2==2.11.2
jmespath 
joblib 
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyterlab-pygments 
kiwisolver 
lazy-object-proxy 
MarkupSafe==1.1.1
matplotlib 
mccabe==0.6.1
mistune==0.8.4
mizani==0.7.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
modin==0.8.3
msgpack==1.0.2
multidict 
murmurhash 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
nltk 
notebook 
numpy 
olefile==0.46
packaging 
palettable==3.3.0
pandas 
pandocfilters 
parso 
pathy 
patsy==0.5.1
pickleshare 
Pillow 
plotnine 
preshed 
prometheus-client 
prompt-toolkit 
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser 
pydantic 
Pygments 
pylint 
pyOpenSSL 
pyparsing==2.4.7
pyrsistent 
PySocks 
python-dateutil==2.8.1
pytz 
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
qtconsole 
QtPy==1.9.0
regex 
requests 
rsa 
s3transfer 
scikit-learn 
scipy 
Send2Trash 
shellingham 
sip==4.19.13
six 
smart-open 
sortedcontainers==2.3.0
spacy 
spacy-legacy 
srsly 
statsmodels 
tblib==1.7.0
terminado==0.9.1
testpath==0.4.4
thinc 
threadpoolctl 
toml 
toolz==0.11.1
tornado 
tqdm 
traitlets 
typer 
typing-extensions 
urllib3 
wasabi 
wcwidth 
webencodings==0.5.1
widgetsnbextension==3.5.1
win-inet-pton 
wincertstore==0.2
wrapt==1.11.2
yarl 
zict==2.0.0
zipp 
